* {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  background-color: white;
  font-family: "Open Sans", "sans-serif";
  font-family: "Poppins", "sans-serif";
}

/*------------------------------sidebar css-----------------------------------------*/
.side-menu {
  position: fixed;
  background-color: #0c0e2a;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 15px 5px;
  transition: width .2s ease-in;
}

.side-menu.inactive {
  width: 100px;
}
.top-section {
  display: flex;
  justify-content: left;
}
.sidebar_heading {
  color: white;
}
.sidebar_heading b {
  font-size: 22px;
  font-weight: 500;
}
.sidebar_heading p {
  font-size: 14px;
}
.toggle-menu-btn {
  color: gray;
  width: 45px;
  height: 25px;
  padding-top: 15px;
  padding-left: 65px;
  cursor: pointer;
}
.side-menu.inactive .sidebar_heading {
  display: none;
}
.side-menu.inactive .top-section .toggle-menu-btn {
  position: relative;
  right: 50px;
}
.divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #333;
  margin-top: 15px;
}

.main-menu {
    padding-top: 50px;
}

.main-menu .menu-item  {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding-left: 15px;
}
.menu-item .menu-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    /* background-color: red; */
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.side-menu.inactive .main-menu .menu-item span {
    display: none;
}
.main-menu ul a.active,
.main-menu ul li a:hover {
  background-color: #eceafe;
  color: #ffffff;
  text-decoration: none;
  background: #8b84d7;
}
